body.day{
	background: url(../img/sunnyDay.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
body.night{
	background: url(../img/night.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.row{
	margin-top: 50px;
}
	.input-group{
		margin-bottom: 20px;
	}
	.input-group:first-child{
		margin-top: 20px;
	}